<footer class="footer">
    <div class="footer__container">
        <section>
            <h2 class="footer__title">Sobre</h2>
            <p class="footer__about-text">
                A Kay Computers surgiu com a ideia de trazer os melhores produtos da área de informatica direto para o seu setup, com um preço justo e um atendimento de qualidade, visando sempre o bem estar e a satisfação do cliente.
            </p>
        </section>
        <address>
            <h2 class="footer__title">Contato</h2>
            <ul>
                <li><i class="fa-solid fa-envelope"></i> contato@kaycomputers.com</li>
                <li><i class="fa-solid fa-phone"></i> (11) 5123-4567</li>
                <li><i class="fa-brands fa-whatsapp"></i> (11) 95123-4567</li>
            </ul>
        </address>
    </div>
    <section class="footer__copyright">
        &copy; Todos os direitos reservados
    </section>
</footer>